div.formrow {
    width: 100%;
    height: max-content;
    margin-top: 5px;
}

input[type="text"]  {
    width: 60%;
}

input[type="textarea"]  {
    width: 60%;
}

div.formlabel {
    width: 30%;
    margin-left: 0px;
    float:left;
}


div.forminput {
    width: 70%;
    margin-right: 0px;
    float:left;
}

div.row {
    background-color: white;
    color: black;
    height: 10%; 
}

a {
    color: darkred;
    background-color: white;
    padding: 20px;
}

a:hover {
    color: white;
    background-color: red;
    background-color: darkred;
    padding: 20px;
}